/* Housetyle color styling */
$primary-text-color: #F4E4E1;
$hightlight-color: #4D9B31;
$accent-color: #81D2C7;

$primary-font: 'Montserrat', sans-serif;

/* Page styling */ 
$background-color: #1C2433;

/* Header styling */
$header-background-color: #476795;
$header-height: 80px;

/* Footer styling */
$footer-background-color: #222222;